.Third {
    height: auto;
    width: 100%;
}

.rightSideThird {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 13vh; */
}

.textWrrapper {
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textWrrapperThird h2 {
    font-weight: 800;
    font-size: 50px;
}

.textWrrapperThird p {
    font-size: 24px;
    font-weight: 600;
}

.leftsideThird {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSideSecongImg {
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftSideSecongImg img {
    height: 45vh;
    width: 100%;
    object-fit: contain;
}

.reconmondation {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

.reconmondationInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reconmondationInfo h5 {
    font-size: 15px;
}

.loginbtn button {
    border: none;
    width: 100%;
    outline: none;
    padding: 4px 20px;
    background-color: red;
    color: white;
}

.loginbtn button:hover {
    background-color: rgb(247, 82, 82);
}

.reconmondation p {
    margin-top: 5px;
    font-size: 15px;
}

.reconmondationInfo span {
    margin-left: 5%;
    color: red;
}

@media only screen and (max-width: 768px) {
    .rightSideThird {
        height: 25vh;
    }

    .rightSideThird h2 {
        font-weight: 800;
        font-size: 25px;
        margin-top: 5px;
    }

    .textWrrapperThird p {
        font-size: 13px;
        margin-top: 5px;
    }

    .leftsideThird {
        height: 25vh;
    }

    /* recommondation */
    .reconmondation {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2vh;
    }

    .reconmondationInfo {
        width: 60%;
        height: 30vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .reconmondationInfo h5 {
        font-size: 12px;
    }

    .reconmondation p {
        font-size: 12px;
    }

    .loginbtn button {
        padding: 2px 10px;
        font-size: 14px;
    }
}