.user {
  margin-top: 11vh;
}
.reightSideContainer h2 {
  font-weight: 700;
}
.userdataList {
  margin-top: 15vh;
}
.userdataList h4 {
  color: rgb(75, 71, 71);
  font-weight: 600;
  font-size: 23px;
  margin-top: 30px;
}
.userdataList span {
  margin-left: 30px;
  font-weight: 500;
}
.userdataList button{
    padding: 3px 20px;
    margin-top: 30px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: rgb(236, 41, 41);
    color: whitesmoke;
}
