.User {
  flex: 4;
  margin-top: 11vh;
  

}
.topContain {
  display: flex;
  justify-content: space-between;
}
.createButton {
  padding: 4px 15px;
  outline: no;
  border: none;
  border-radius: 9px;
  background-color: rgb(10, 180, 87);
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;

}
.userRightSide{
  margin-top: 5vh;
}

.UserTitle {
  font-size: 32px;
  font-weight: 900;
}
.profile_top {
  margin-top: 20px;
}
.profile_top img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profile_top {
  display: flex;
}
.profile_top p {
  margin-top: 12px;
  margin-left: 18px;
  font-weight: 600;
}

.contactdetails {
  margin-top: 50px;
}
.contactdetails h6,
span {
  color: gray;
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 15px;
}
.contactdetails p {
  color: gray;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 15px;
}

/* right side */

.rightSideTitle {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 20px;
}
.userdetailForm {
  margin-top: 15px;
}
.inputBox {
  margin-top: 15px;
}
.inputBox input {
  border: none;
  width: 60%;
  outline: none;
  border-bottom: 2px solid gray;
  margin-top: 10px;
}
.inputBox label {
  font-weight: 600;
  color: gray;
}
.updateButton button {
  margin-top: 20px;
  padding: 2px 60px;
  outline: none;
  border: none;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  border-radius: 9px;
}
