.featured {
  margin-top: 3vh;
  height: 90vh;
  width: 100%;
  margin-bottom: 20vh;
}

.backgroundImg img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.containerData {
  position: absolute;
  bottom: 350px;
  top: 40vh;
  left: 100px;
  color: white;
  width: 60%;
}

.containerData h4 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 6px;
}

.containerData h5 {
  font-weight: 600;
  font-size: 20px;
}

.containerData span {
  margin-left: 20px;
  font-weight: 500;
}

.hero-btn-play {
  padding: 2px 18px;
  border-radius: 3px;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: whitesmoke;
  margin-top: 20px;
}

.category {
  position: absolute;
  top: 119px;
  left: 10%;
  font-size: 23px;
  font-weight: bold;
}

.category select {
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  font-size: 17px;
  padding: 2px 5px;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  .featured {
    height: auto;
    width: 100%;
    margin-bottom: 12vh;
  }

  .backgroundImg img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  .containerData {
    width: 90%;
    left: 10px;
    top: 20vh;
  }

  .containerData h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 3%;
  }

  .containerData h5 {
    font-weight: 500;
    font-size: 13px;
    margin-left: 4%;
  }

  .containerData span {
    margin-left: 0px;
  }

  .category {
    left: 10%;
    font-size: 17px;
    margin-top: -40px;
    margin-left: 4px;
  }

  .category select {
    padding: 1px 2px;
    border-radius: 2px;
    font-size: 10px;
  }


  .hero-btn-play {
    padding: 2px 10px;
    margin-left: 4%;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .category {
    font-size: 19px;
    font-weight: 500;
  }
}