.home {
  flex: 4;
  margin-top: 11vh;
  overflow: hidden;
  /* padding-left: 40px; */
}
.home h3 {
  margin-top: 2vh;
  font-weight: 600;
}
.home img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
