.list {
  width: 100%;
  margin-top: 10px;
}
.list-title {
  color: whitesmoke;
  font-size: 23px;
  font-weight: 600;
  margin-left: 50px;
}
.all-items {
  display: flex;
  width: max-content;
  transition: all 1s ease;
  z-index: 999;
}
.wrapper {
  position: relative;
}
.list h2 {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  font-size: 28px;
  font-weight: 800;
  
}
.sliderArrow-left {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  bottom: 0%;
  margin: auto;
  cursor: pointer;
  color: rgb(0, 0, 0);
  z-index: 999;
  border-radius: 7px;

}
.sliderArrown-right {
  background-color: white;
  margin-left: 97%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 130px;
  border-radius: 7px;
  font-size: 60px;
}
@media only screen and (max-width: 768px) {
  .sliderArrown-right {
    margin-left: 90%;
    /* top: 120px; */
  }
  
  
}
