.widgetLg{
    height: 55vh;
    padding: 20px;
    box-shadow: -1px 2px 10px -2px #4d4b4b;
}


.widgetLgTitle{
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 10px;
  
}
.widgetLgImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.widgetLgTableList td{
    padding-top: 15px;
    font-weight: 500;
    color: gray;
}
.approvedbtn button{
    border: none;
    padding: 6px 4px;
    border-radius: 10px;
    background-color: rgb(174, 238, 174);
}
.declinedbtn button{
    border: none;
    padding: 6px 7px;
    border-radius: 10px;
    background-color: lightcoral;
    color: white;
}
.pendingbtn button{
    border: none;
    padding: 6px 7px;
    border-radius: 10px;
    background-color: lightskyblue;
    color: black;
}
