.login {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.9)),
    url("../../../public/images/login.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar-brand {
  font-size: 30px;
  color: rgb(255, 68, 68);
  /* margin: 40px 0px 0px 40px; */
}

.topContent button {
  background-color: red;
}

.signupInputbox {
  width: 37%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0b0b0b;
  border-radius: 5px;
  opacity: 0.8;
}

.signupInputbox h2 {
  font-size: 25px;
}

.login-input input {
  width: 91%;
  height: 6vh;
  outline: none;
  background-color: white;
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 4%;
}

.login-input label {
  margin-left: 4%;
}

.login-btn {
  height: 5vh;
  width: 91%;
  background-color: rgb(255, 0, 0);
  color: white;
  height: 6vh;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-left: 4%;
}

.login-btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.signupInputbox button:disabled {
  color: red;
  cursor: not-allowed;
}

.signupInputbox p {
  margin-left: 4%;
}



.signupLink {
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
  color: white;
}

.signupLink:hover {
  text-decoration: underline;
  color: red;
}

@media only screen and (max-width: 768px) {
  .signupInputbox {
    position: relative;
    top: 86%;
    width: 80%;
  }

  .login-input {
    height: auto;
  }

  .login-input input {
    height: 5vh;
  }

  .login-btn {
    height: 4vh;
    font-size: 16px;
  }
  .signupInputbox p {
    font-size: 10px;
    padding-bottom: 20px;
  }
  
}