.loginPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 12vh;
}

.loginTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  font-size: 25px;
  margin-top: 5px;
}

.loginFrom {
  height: 60vh;
  width: 25%;
  -webkit-box-shadow: -1px 2px 6px 2px rgba(166, 166, 166, 0.48);
  box-shadow: -1px 2px 6px 2px rgba(203, 200, 200, 0.48);
}

.LoginFormContainer h4 {
  margin-left: 8%;
  margin-top: 13px;
  font-size: 18px;
  font-weight: 600;
}

.inputBox label {
  margin-top: 2px;
  margin-left: 8%;
  font-weight: 600;
  font-size: 13px;
}

.inputBox input {
  margin-left: 8%;
  width: 80%;
  height: 35px;
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid gray;
}

.inputBox button {
  margin-left: 8%;
  margin-top: 30px;
  width: 80%;
  padding: 3px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
}

.inputBox button:hover {
  background-color: rgb(247, 82, 82);
}

.inputBox button:disabled {
  color: white;
  cursor: not-allowed;
}

.inputBox span {
  color: red;
  margin-left: 8%;
}
.link{
  text-decoration: none;
}
.loginFrom p {
  margin: 10px 0px 0px 8%;
  font-size: 14px;
}

.loginPage span {
  margin-left: 5px;
  color: red;
  font-size: 13px;
}

.loginPage span:hover {
  text-decoration: underline;
}

.terms {
  margin: 15px 0px 0px 8%;
  font-size: 13px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .loginPage {
    height: auto;
  }

  .loginFrom {
    width: 80%;
  }

  .loginFrom {
    height: auto;

  }

  .inputBox input {
    height: 35px;
    padding: 10px 8px;
  }

  .terms {
    margin: 15px 0px 0px 8%;
    font-size: 12px;
    margin-bottom: 30px;
  }
}