.login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.loginForm input{
    outline: none;
    margin-top: 20px;
    padding: 2px 50px;


}

.login button{
    margin-top: 20px;
    outline: none;
    background-color: lightblue;
    color: black;
    border: none;
    padding: 5px;
    cursor: pointer;
}