.movie {
  margin-top: 11vh;
}
.productContainerTitle {
  display: flex;
  justify-content: space-between;
}
.productContainerTitle h1 {
  font-weight: 900;
  font-size: 40px;
}
.productContainerTitle button {
  margin-top: 20px;
  padding: 2px 60px;
  outline: none;
  border: none;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: lightblue;
  border-radius: 9px;
}
.leftsideMainContainer {
  margin-top: 5vh;
}

.productForm input {
  width: 80%;
  margin-top: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}
::placeholder {
  padding-left: 10px;
}

.productForm label {
  font-weight: 600;
  color: gray;
  margin-top: 20px;
}
.productForm select {
  width: 80%;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}
.productForm option {
  color: gray;
}

.productImg img {
  height: 50%;
  width: 50%;
  border-radius: 20%;
}
.productImg button {
  margin-top: 20px;
  padding: 2px 60px;
  outline: none;
  border: none;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  border-radius: 9px;
}
.deleteButton button {
  margin-top: 35vh;
  padding: 2px 40px;
  outline: none;
  border: none;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  border-radius: 9px;
}
