.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #000000;
}

.navbar-brand {
  margin-left: 40px;
  font-weight: 900;
  font-size: 30px;
  color: red;
}
.nav-item img {
  height: 50px;
  width: 50px;
  border-radius: 40%;
}
.nav-item a {
  font-size: 19px;
  margin-top: 10px;
  margin: 10px;
  font-weight: 500;
  color: white;
}
.nav-item a:hover {
  color: gray;
}

@media only screen and (max-width: 768px) {
  .nav-item a {
    margin-top: 0px;
  }
  .navbar-brand {
    margin-left: 10px;
    font-size: 25px;
  }
}
