.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #0b0b0b;
}



.navbar-brand img {
  height: 5vh;
  margin-left: 40px;
}
.nav-item img {
  height: 50px;
  width: 50px;
  border-radius: 40%;
}
.nav-item a {
  font-size: 19px;
  margin-top: 10px;
  margin: 10px;
  font-weight: 500;
  color: rgb(190, 184, 184);
}
.nav-item a:hover {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .nav-item a {
    margin-top: 0px;
  }
}
