.sidebar {
  background-color: whitesmoke;
  height: 122vh;
  width: 90%;
  color: rgb(0, 0, 0);
  margin-top: 10vh;
  transition: width 0.2s ease-in;
  margin-left: -11px;
  box-shadow: 5px 1px 6px -6px #000000;

}
.sidebartitle{
    font-size: 16px;
    color: gray;
    padding-top: 18px;
    /* font-weight: 600; */
}

.sidebarList li{
    list-style: none;
    font-size: 18px;
    color: rgb(121, 117, 117);
    cursor: pointer;
}
.sidebarList li:hover{
    background-color: #d7e3fc;
    border-radius: 8px;
}

.link{
    text-decoration: none;
    color: gray;
}
.link:hover{
    color: gray;
}


@media only screen and (max-width: 768px) {
    .sidebar{
        width: 160%;
        overflow: hidden;
    }
   .sidebarItems .sidebarIcons{
        display: none;
    }
    .sidebartitle{
        font-size: 18px;
        font-weight: 500;
        
    }
    .sidebarList li{
        font-size: 15px;
    }
  
}
